{
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-1",
                "react"
            ],
            "plugins": [
                "react-require",
                "add-react-displayname"
            ]
        },
        "production": {
            "presets": [
                ["env", {"modules": false}],
                "stage-1",
                "react"
            ],
            "plugins": [
                "react-require",
                "add-react-displayname"
            ]
        }
    }
}
